body::before {
  content: "";
  position: fixed;
  bottom: -282px;
  left: -282px;
  width: 564px;
  height: 564px;
  z-index: -1;
  background: var(--color1);
  opacity: 0.5;
  filter: blur(564px);
  -webkit-filter: blur(564px);
  animation: moveCircle1 20s infinite;
  -webkit-animation: moveCircle1 20s infinite;
  border-radius: var(--max-radius);
  -webkit-border-radius: var(--max-radius);
  -moz-border-radius: var(--max-radius);
  -ms-border-radius: var(--max-radius);
  -o-border-radius: var(--max-radius);
}

body::after {
  content: "";
  position: fixed;
  top: 0px;
  right: -314px;
  width: 628px;
  height: 628px;
  z-index: -1;
  background: var(--color2);
  opacity: 0.3;
  filter: blur(1000px);
  -webkit-filter: blur(1000px);
  animation: moveCircle2 15s infinite linear;
  -webkit-animation: moveCircle2 15s infinite linear;
  border-radius: var(--max-radius);
  -webkit-border-radius: var(--max-radius);
  -moz-border-radius: var(--max-radius);
  -ms-border-radius: var(--max-radius);
  -o-border-radius: var(--max-radius);
}

@keyframes moveCircle1 {
  0% {
    transform: translate(40%, -40%);
    -webkit-transform: translate(40%, -40%);
    -moz-transform: translate(40%, -40%);
    -ms-transform: translate(40%, -40%);
    -o-transform: translate(40%, -40%);
  }
  25% {
    transform: translate(40%, 40%);
    -webkit-transform: translate(40%, 40%);
    -moz-transform: translate(40%, 40%);
    -ms-transform: translate(40%, 40%);
    -o-transform: translate(40%, 40%);
  }
  50% {
    transform: translate(-40%, 40%);
    -webkit-transform: translate(-40%, 40%);
    -moz-transform: translate(-40%, 40%);
    -ms-transform: translate(-40%, 40%);
    -o-transform: translate(-40%, 40%);
  }
  75% {
    transform: translate(-40%, -40%);
    -webkit-transform: translate(-40%, -40%);
    -moz-transform: translate(-40%, -40%);
    -ms-transform: translate(-40%, -40%);
    -o-transform: translate(-40%, -40%);
  }
  100% {
    transform: translate(40%, -40%);
    -webkit-transform: translate(40%, -40%);
    -moz-transform: translate(40%, -40%);
    -ms-transform: translate(40%, -40%);
    -o-transform: translate(40%, -40%);
  }
}

@keyframes moveCircle2 {
  0% {
    transform: translate(40%, -40%);
    -webkit-transform: translate(40%, -40%);
    -moz-transform: translate(40%, -40%);
    -ms-transform: translate(40%, -40%);
    -o-transform: translate(40%, -40%);
  }
  25% {
    transform: translate(40%, 40%);
    -webkit-transform: translate(40%, 40%);
    -moz-transform: translate(40%, 40%);
    -ms-transform: translate(40%, 40%);
    -o-transform: translate(40%, 40%);
  }
  50% {
    transform: translate(-40%, 40%);
    -webkit-transform: translate(-40%, 40%);
    -moz-transform: translate(-40%, 40%);
    -ms-transform: translate(-40%, 40%);
    -o-transform: translate(-40%, 40%);
  }
  75% {
    transform: translate(-40%, -40%);
    -webkit-transform: translate(-40%, -40%);
    -moz-transform: translate(-40%, -40%);
    -ms-transform: translate(-40%, -40%);
    -o-transform: translate(-40%, -40%);
  }
  100% {
    transform: translate(40%, -40%);
    -webkit-transform: translate(40%, -40%);
    -moz-transform: translate(40%, -40%);
    -ms-transform: translate(40%, -40%);
    -o-transform: translate(40%, -40%);
  }
}
